@mixin cta($background, $color) {
	padding: $padding $padding * 2;
	border-radius: 3px;
	text-decoration: none;
	background: #{$background};
	color: #{$color};
	margin: 0px 5px;
	cursor: pointer;
	display: inline-block;
	width: max-content;
	transition: .25s;

	&:hover {
		text-decoration: none;
		filter: brightness(.85);
	}

	&:active {
		scale: .95;
	}
}

button {
	@include cta(white, black);
	border: 0;
	font-family: 'Inter', 'Source Sans Pro', sans-serif;
}

[cta-primary] {
	@include cta(var(--primary, #000000), white);
}

[cta-secondary] {
	@include cta(var(--secondary, #ffffff), var(--primary, #000000));
}

[cta-tersier] {
	@include cta(var(--tersier, #ffffff), var(--secondary, #000000));
}
