h1, h2, h3, h4, h5, h6, p, b {
	&[center] {
		text-align: center;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: var(--header, #000000);
}

blockquote {
	padding: $padding * 2;
	border-radius: 5px;
	background: var(--tersier);
	margin: 5px;

	> p {
		margin-top: 0px;
		color: var(--secondary);

		&::before { content: '\201C'; }
		&::after { content: '\201C'; }
	}
}

[white-color] {
	color: white !important;
}

[func-yes] {
	color: var(--func-yes, #00ff00) !important;
}

[func-no] {
	color: var(--func-no, #ff0000) !important;
}

[ta-right] {
	text-align: right !important;
}

[ta-left] {
	text-align: left !important;
}

[small] {
	font-size: 80%;
}
